<% content_for :title, "Editing user" %>
<% content_for :header do %>
  <h1>Editing user</h1>
<% end %>

<div class="p-3">
  <%= render "form", user: @user %>
</div>

<% content_for :footer do %>
  <div>
    <%= link_to "Show this user", { action: :show, id: @user.id } %> |
    <%= link_to "Back to users", { action: :index } %>
  </div>
<% end %>
