<% content_for :title, "Editing saml metadatum" %>

<h1>Editing saml metadatum</h1>

<%= render "form", saml_metadatum: @saml_metadatum %>

<br>

<div>
  <%= link_to "Show this saml metadatum", { action: :show, id: @saml_metadatum.id } %> |
  <%= link_to "Back to saml metadata", { action: :index } %>
</div>
