<% content_for :title, "Users" %>

<% content_for :header do %>
  <h1>Users</h1>
  <%= link_to "New user", new_user_path %>
<% end %>

<%= render "shared/paginated_table", records: @users, pagy: @pagy, columns: %i[id name_id name email phone created_at updated_at] %>
