<% content_for :title, "Saml metadata" %>

<% content_for :header do %>
  <h1>Saml metadata</h1>
  <%= link_to "New saml metadatum", new_saml_metadatum_path %>
<% end %>
<% columns = ["entity_id", "metadata_url", "fingerprint"] %>
<%= render "shared/paginated_table", records: @saml_metadata, pagy: @pagy, columns: %>
