<% content_for :title, "New saml metadatum" %>

<h1>New saml metadatum</h1>

<%= render "form", saml_metadatum: @saml_metadatum %>

<br>

<div>
  <%= link_to "Back to saml metadata", saml_metadata_path %>
</div>
