<div id="<%= dom_id user_session %>">
  <p>
    <strong>User:</strong>
    <%= user_session.user_id %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= user_session.expires_at %>
  </p>

</div>
