<% content_for :title, "User sessions" %>

<h1>User sessions</h1>
<% columns = [:user_id, :created_at, :expires_at] %>
<%= render "shared/paginated_table", records: @user_sessions, pagy: @pagy, columns: %>

<%= link_to "New user session", new_user_session_path %>
